.block-context-question {
  background-color: WhiteSmoke ;
}

.block-answer {
  background-color:WhiteSmoke ;
}

.block-answer, .block-context-question {
    /* height: 100%; */
    /* display: table-row; */
    padding: 0;
}

.placeholder p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: #9aa8b2;
}

.placeholder .placeholder__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}

.placeholder__empty{
  font-size: 50px;
  color: #9aa8b2;
}

.placeholder {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  cursor: default
}

.model__content {
  padding: 1.875em 2.5em;
  margin: auto;
  -webkit-transition: padding .2s ease;
  transition: padding .2s ease
}

.model__content .form-group{
  padding-top: 2em;
}

.pane__thumb {
  height: auto;
  min-height: 100%;
  margin-left: -.625em;
  position: absolute;
  width: 1.25em
}

.pane__thumb:after {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  content: "";
  width: .25em;
  background: #e1e5ea;
  left: .5em
}

.form__field {
  -webkit-transition: margin .2s ease;
  transition: margin .2s ease
}

.form__field+.form__field {
  margin-top: 2.5em
}

.form__field label,
form label {
  display: block;
  font-weight: 600;
  font-size: 1.125em
}

.form__field label+*,
form label+*{
  margin-top: 1.25em
}

.model__content__summary {
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1.25em;
  background: #e1e1e1;
}

.passage.model__content__summary {
  line-height: 1.875em;
  font-size: 1.125em
}

.passage__answer {
  font-weight: 700;
  background: #40affd;
  color: #fff;
  padding: .1875em;
  margin: 0 .125em
}
